@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Orbitron:wght@400;700;900&display=swap');
@import url('./cargame/hud.css');
@import url('./cargame/modal.css');
@import url('./cargame/qr.css');
@import url('./cargame/environment.css');

:root {
    --neon-blue: #0ffffa;
    --neon-pink: #f092ff;
    --glass-bg: rgba(255, 255, 255, 0.05);
    --glass-border: rgba(255, 255, 255, 0.1);
}

html,
body {
    margin: 0 !important;
    overflow: hidden !important;
    background: #05000a !important;
    font-family: 'Inter', sans-serif;
    user-select: none;
    touch-action: none;
    color: #fff;
}