/* Orbit Controls overlay zone */
#orbit-zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    z-index: 5000;
    pointer-events: none;
    touch-action: none;
}